APP_ENV=development
APP_DEBUG=1
XARR_RUNTIME_DIR=/www/wwwroot/xarr
XARR_PLUGIN_DIR=/www/wwwroot/xarr/plugins
XARR_DB_HOST=127.0.0.1
XARR_DB_PORT=3306
XARR_DB_NAME=xarrpay
XARR_DB_USER=xarrpay
XARR_DB_PASSWORD=
XARR_DB_CHARSET=utf8mb4
