APP_ENV=development
APP_DEBUG=1
XARR_SITE_URL=http://127.0.0.1:8088
XARR_WEBAUTHN_RP_ID=127.0.0.1
XARR_WEBAUTHN_ORIGIN=http://127.0.0.1:8088
XARR_RUNTIME_DIR=/www/wwwroot/xarr-php-ys
XARR_PLUGIN_DIR=/www/wwwroot/xarr-php-ys/plugins
XARR_ADMIN_PATH=admin
XARR_LICENSE_CODE=
XARR_INSTALL_LOCK_FILE=./var/install.lock
XARR_DB_HOST=127.0.0.1
XARR_DB_PORT=3306
XARR_DB_NAME=xarrpay
XARR_DB_USER=xarrpay
XARR_DB_PASSWORD=
XARR_DB_CHARSET=utf8mb4
XARR_MAIL_FROM=
XARR_SMS_WEBHOOK_URL=
XARR_RSA_ENCRYPTION_KEY=
XARR_PLATFORM_RSA_PUBLIC_KEY=
